<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список ресторанов</title>
</head>
<body>
    {% if restaurant_data %}
        {% for rest in restaurant_data %}
            <h5>{{ rest.name }}</h5>
            <p>{{ rest.description }}</p>
            <p>{{ rest.count_of_employers }}</p>
            <p>{{ rest.director }}</p>
            <p>{{ rest.phone }}</p>
        {% endfor %}
    {% else %}
        <p> Нет ресторанов в списке </p>
    {% endif %}
</body>
</html>